/* line 1, ../sass/base.scss */
.contant {
  position: relative;
  background-color: #ddd;
  padding: 20px 30px;
  margin: 10px auto;
  max-width: 400px;
  width: fit-content;
}
/* line 8, ../sass/base.scss */
.contant td {
  padding: 5px;
}
/* line 11, ../sass/base.scss */
.contant .padding {
  padding: 5px;
}

/* line 15, ../sass/base.scss */
img {
  width: 31vw;
  max-width: 526px;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  display: block;
}
